openapi: 3.0.1
info:
  title: Exam Lab API
  description: API for Exam Lab
  version: 0.1.0
servers:
- url: http://exam-lab.store/
- url: http://localhost:8080/
tags: []
paths:
  /api/v1/exams:
    get:
      tags:
      - exams
      summary: Get all exams
      description: Get all exams
      operationId: exams
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamList'
              examples:
                exams:
                  value: "[{\"exam_title\":\"운전면허\",\"sub_exams\":[{\"exam_id\":1,\"\
                    sub_title\":\"1종, 2종\"}]}]"
  /api/v1/users:
    post:
      tags:
      - users
      summary: Add user
      description: 사용자 추가성공할 경우 200 OK를 반환합니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: user add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-963924044'
            examples:
              user add:
                value: "{\"password\":\"a3308b90-a755-498b-9182-7866fa4ed31c!\",\"\
                  password_confirm\":\"a3308b90-a755-498b-9182-7866fa4ed31c!\",\"\
                  user_id\":\"a3308b90-a755-498b-9182-7866fa4ed31c@gmail.com\",\"\
                  name\":\"a3308b90-a755-498b-9182-7866fa4ed31c\"}"
      responses:
        "200":
          description: "200"
  /api/v1/users/login:
    post:
      tags:
      - users
      summary: Login
      description: 로그인성공할 경우 redirect 시킵니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-login1770795545'
            examples:
              login:
                value: "{\"password\":\"lab111!\",\"user_id\":\"lab1@gmail.com\"}"
      responses:
        "200":
          description: "200"
  /api/v1/users/logout:
    post:
      tags:
      - users
      summary: Logout
      description: 로그아웃
      operationId: logout
      responses:
        "200":
          description: "200"
  /api/v1/users/status:
    get:
      tags:
      - users
      summary: Get user status
      description: 로그인 상태를 확인합니다.로그인 상태일 경우 200과 userName을 반환합니다로그인 상태가 아닌 경우 401
        Unauthorized를 반환합니다.
      operationId: user status
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-users-status615510992'
              examples:
                user status:
                  value: "{\"user_name\":\"lab1\",\"login\":true}"
  /api/v1/exams/{examId}/type:
    get:
      tags:
      - exams
      summary: Get exam type
      description: Get exam type
      operationId: exam-typenon-exam-type
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamType'
              examples:
                exam-type:
                  value: "{\"tags\":[\"상황\",\"표지\",\"화물\",\"법\"]}"
        "400":
          description: "400"
components:
  schemas:
    api-v1-users-login1770795545:
      required:
      - password
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        user_id:
          type: string
          description: User id
    ExamList:
      title: ExamList
      type: array
      description: List of exams
      items:
        required:
        - exam_title
        - sub_exams
        type: object
        properties:
          sub_exams:
            type: array
            description: List of sub exams
            items:
              required:
              - exam_id
              - sub_title
              type: object
              properties:
                sub_title:
                  type: string
                  description: Sub exam title
                exam_id:
                  type: number
                  description: Sub exam id
          exam_title:
            type: string
            description: Exam title
        description: List of exams
    ExamType:
      title: ExamType
      required:
      - tags
      type: object
      properties:
        tags:
          type: array
          description: List of tags
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
    api-v1-users-status615510992:
      required:
      - login
      - user_name
      type: object
      properties:
        user_name:
          type: string
          description: 사용자 이름
        login:
          type: boolean
          description: 로그인 여부
    api-v1-users-963924044:
      required:
      - name
      - password
      - password_confirm
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        password_confirm:
          type: string
          description: Password confirm
        user_id:
          type: string
          description: User id
        name:
          type: string
          description: User name
