openapi: 3.0.1
info:
  title: Exam Lab API
  description: API for Exam Lab
  version: 0.1.0
servers:
- url: https://exam-lab.store/
- url: http://localhost:8080/
tags: []
paths:
  /api/v1/exams:
    get:
      tags:
      - exams
      summary: Get all exams
      description: Get all exams
      operationId: exams
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamList'
              examples:
                exams:
                  value: "{\"exams\":[{\"exam_title\":\"운전면허 - 1,2종\",\"exam_id\"\
                    :1},{\"exam_title\":\"수능 - 영어\",\"exam_id\":2}]}"
    post:
      tags:
      - exams
      summary: Add exams
      description: 회원만이 시험을 추가할 수 있습니다.응답 message로 생성된 시험지 ID를 반환합니다.
      operationId: add-exams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamAdd'
            examples:
              add-exams:
                value: "{\"exam_title\":\"소웨공\",\"tags\":{\"난이도\":[\"상\",\"중\",\"하\
                  \"],\"단원\":[\"1\",\"2\",\"3\"]}}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams1523854693'
              examples:
                add-exams:
                  value: "{\"code\":201,\"message\":\"3\"}"
  /api/v1/questions:
    put:
      tags:
      - question
      summary: Update question
      description: Question 내용 업데이트
      operationId: update-question
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-questions-1819950696'
            examples:
              update-question:
                value: "{\"question\":\"변경된 질문입니다.\",\"options\":[\"변경된 보기1\",\"변경\
                  된 보기2\",\"변경된 보기3\",\"변경된 보기4\"],\"answers\":[1,3],\"id\":\"{\\\"\
                  code\\\":201,\\\"message\\\":\\\"2fbcbc5d-1556-48c8-9fca-383d82417272\\\
                  \"}\",\"tag\":{\"난이도\":[\"중\"],\"단원\":[\"2\"]},\"commentary\":\"\
                  변경된 설명입니다.\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions486549215'
              examples:
                update-question:
                  value: "{\"code\":400,\"message\":\"BAD_REQUEST\"}"
  /api/v1/users:
    post:
      tags:
      - users
      summary: Add user
      description: 사용자 추가성공할 경우 200 OK를 반환합니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: user add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-963924044'
            examples:
              user add:
                value: "{\"password\":\"6bfa9ac7-b3c9-4d25-b32c-9f6a78a48cda!\",\"\
                  password_confirm\":\"6bfa9ac7-b3c9-4d25-b32c-9f6a78a48cda!\",\"\
                  user_id\":\"6bfa9ac7-b3c9-4d25-b32c-9f6a78a48cda@gmail.com\",\"\
                  name\":\"6bfa9ac7-b3c9-4d25-b32c-9f6a78a48cda\"}"
      responses:
        "200":
          description: "200"
  /api/v1/exams/{examId}:
    get:
      tags:
      - exams
      summary: Get exam type
      description: Get exam type
      operationId: exam-typenon-exam-type
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamType'
              examples:
                exam-type:
                  value: "{\"exam_title\":\"운전면허 - 1,2종\",\"tags\":{\"category\":[\"\
                    상황\",\"표지\",\"화물\",\"법\"]}}"
        "400":
          description: "400"
    put:
      tags:
      - exams
      summary: patch exams
      description: 본인의 시험만 수정할 수 있습니다.시험 내용을 덮어쓰기 합니다.
      operationId: patch-exams
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-exams-examId-questions486549215'
            examples:
              patch-exams:
                value: "{\"tags\":{\"난이도\":[\"상\",\"중\",\"하\",\"최하\"],\"단원\":[\"1\"\
                  ,\"2\",\"3\",\"4\",\"5\"]},\"exam_title\":\"소프트웨어공학\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions486549215'
              examples:
                patch-exams:
                  value: "{\"code\":200,\"message\":\"OK\"}"
    delete:
      tags:
      - exams
      summary: delete exams
      description: 본인의 시험만 삭제할 수 있습니다
      operationId: delete-exams
      parameters:
      - name: examId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
  /api/v1/questions/{questionId}:
    delete:
      tags:
      - question
      summary: Delete questions by questionId
      description: 해당되는 문제 ID Question 삭제
      operationId: delete-questions-by-questionId
      parameters:
      - name: questionId
        in: path
        description: QuestionId
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions486549215'
              examples:
                delete-questions-by-questionId:
                  value: "{\"code\":400,\"message\":\"BAD_REQUEST\"}"
  /api/v1/users/login:
    post:
      tags:
      - users
      summary: Login
      description: 로그인성공할 경우 redirect 시킵니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-login1770795545'
            examples:
              login:
                value: "{\"password\":\"lab111!\",\"user_id\":\"lab1@gmail.com\"}"
      responses:
        "200":
          description: "200"
  /api/v1/users/logout:
    post:
      tags:
      - users
      summary: Logout
      description: 로그아웃
      operationId: logout
      responses:
        "200":
          description: "200"
  /api/v1/users/status:
    get:
      tags:
      - users
      summary: Get user status
      description: 로그인 상태를 확인합니다.로그인 상태일 경우 200과 userName을 반환합니다로그인 상태가 아닌 경우 401
        Unauthorized를 반환합니다.
      operationId: user status
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-users-status615510992'
              examples:
                user status:
                  value: "{\"user_name\":\"lab1\",\"login\":true}"
  /api/v1/exams/{examId}/questions:
    get:
      tags:
      - question
      summary: Search questions
      description: Exam ID를 통한 Questions 조회
      operationId: Search-questions
      parameters:
      - name: examId
        in: path
        description: ExamId
        required: true
        schema:
          type: integer
          format: int32
      - name: tags_category
        in: query
        description: 문제의 태그 카테고리
        required: false
        schema:
          type: string
      - name: includes
        in: query
        description: 문제에 포함된 키워드
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: 검색된 문제의 개수
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions-1602847952'
              examples:
                Search-questions:
                  value: "{\"questions\":[{\"id\":\"53611a95-24c2-4fc3-aad6-407391492f90\"\
                    ,\"type\":\"객관식\",\"question\":\"고속도로를 주행 중이다. 가장 안전한 운전 방법 2가\
                    지는?\",\"question_images_in\":[],\"question_images_out\":[{\"url\"\
                    :\"https://examlab-image.s3.ap-northeast-2.amazonaws.com/driver_images/744.png\"\
                    ,\"description\":\"\",\"attribute\":\"examlab-image-right\"}],\"\
                    options\":[\"① 우측 방향 지시등을 켜고 우측으로 차로 변경 후 앞지르기한다.\",\"② 앞서 가는\
                    \ 화물차와의 안전거리를 좁히면서 운전한다.\",\"③ 앞차를 앞지르기 위해 좌측 방향 지시등을 켜고 전후방의\
                    \ 안전을 살핀\\n후에 좌측으로 앞지르기한다.\",\"④ 앞서 가는 화물차와의 안전거리를 충분히 유지하면서 운\
                    전한다.\",\"⑤ 경음기를 계속 울리며 빨리 가도록 재촉한다.\"],\"answers\":[3,4],\"commentary\"\
                    :\"모든 차의 운전자는 다른 차를 앞지르고자 하는 때에는 앞차의 좌측으로 통행하여야 한다. 운전자는 차의 조향\
                    장\\n치･제동장치와 그 밖의 장치를 정확하게 조작하여야 하며, 도로의 교통 상황과 차의 구조 및 성능에 따라\
                    \ 다른 사\\n람에게 위험과 장해를 주는 속도나 방법으로 운전하여서는 아니 된다.\",\"commentary_images_in\"\
                    :[],\"commentary_images_out\":[],\"tags\":{\"category\":[\"상황\"\
                    ]}}],\"size\":1}"
    post:
      tags:
      - question
      summary: Add question
      description: 문제 추가
      operationId: add-questions
      parameters:
      - name: examId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: |-
          questionUploadInfo-ContentType: application/jsonquestionImagesIn-ContentType:image.png
          questionImagesOut-ContentType:image.png
          commentaryImagesOut-ContentType:image.png
          commentaryImagesOut-ContentType:image.png
          multipart/form-data
        required: true
        schema:
          type: string
        example: multipart/form-data
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions486549215'
              examples:
                add-questions:
                  value: "{\"code\":201,\"message\":\"dcac4a4e-1df0-4f27-a70c-68493e16cf4a\"\
                    }"
components:
  schemas:
    api-v1-exams1523854693:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: number
          description: 응답 코드
        message:
          type: string
          description: 생성된 시험지 ID
    ExamType:
      title: ExamType
      type: object
    ExamList:
      title: ExamList
      required:
      - exams
      type: object
      properties:
        exams:
          type: array
          description: Exam
          items:
            required:
            - exam_id
            - exam_title
            type: object
            properties:
              exam_id:
                type: number
                description: Exam id
              exam_title:
                type: string
                description: Exam title
    api-v1-users-login1770795545:
      required:
      - password
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        user_id:
          type: string
          description: User id
    api-v1-exams-examId-questions-1602847952:
      required:
      - questions
      - size
      type: object
      properties:
        size:
          type: number
          description: 문제의 개수
        questions:
          type: array
          description: 문제 목록
          items:
            required:
            - answers
            - commentary
            - commentary_images_in
            - commentary_images_out
            - id
            - options
            - question
            - question_images_in
            - question_images_out
            - tags
            - type
            type: object
            properties:
              question:
                type: string
                description: 문제 내용
              question_images_out:
                type: array
                description: 문제 정답 이미지 목록
                items:
                  required:
                  - attribute
                  - description
                  - url
                  type: object
                  properties:
                    description:
                      type: string
                      description: 이미지 설명
                    attribute:
                      type: string
                      description: 이미지 속성
                    url:
                      type: string
                      description: 이미지 URL
              question_images_in:
                type: array
                description: 문제 설명 이미지 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              answers:
                type: array
                description: 정답 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              options:
                type: array
                description: 보기 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              id:
                type: string
                description: 문제의 고유 식별자
              type:
                type: string
                description: 문제의 유형
              commentary_images_in:
                type: array
                description: 해설 설명 이미지 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              commentary_images_out:
                type: array
                description: 해설 이미지 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              commentary:
                type: string
                description: 문제 해설
              tags:
                required:
                - '*'
                type: object
                properties:
                  '*':
                    type: array
                    description: 문제의 카테고리 태그 정보
                    items:
                      oneOf:
                      - type: object
                      - type: boolean
                      - type: string
                      - type: number
                description: 문제의 태그 맵 정보
    api-v1-questions-1819950696:
      required:
      - answers
      - commentary
      - id
      - options
      - question
      - tag
      type: object
      properties:
        question:
          type: string
          description: 변경될 질문 내용
        answers:
          type: array
          description: 변경될 정답
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        options:
          type: array
          description: 변경될 보기 내용
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        tag:
          required:
          - '*'
          type: object
          properties:
            '*':
              type: array
              description: 변경될 문제 태그 value
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
          description: 변경될 문제 태그
        id:
          type: string
          description: 문제 ID
        commentary:
          type: string
          description: 변경될 해설
    ExamAdd:
      title: ExamAdd
      required:
      - exam_title
      - tags
      type: object
      properties:
        tags:
          type: object
          description: tag 정보들
        exam_title:
          type: string
          description: 시험지 이름
    api-v1-users-status615510992:
      required:
      - login
      - user_name
      type: object
      properties:
        user_name:
          type: string
          description: 사용자 이름
        login:
          type: boolean
          description: 로그인 여부
    api-v1-exams-examId-questions486549215:
      type: object
    api-v1-users-963924044:
      required:
      - name
      - password
      - password_confirm
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        password_confirm:
          type: string
          description: Password confirm
        user_id:
          type: string
          description: User id
        name:
          type: string
          description: User name
