openapi: 3.0.1
info:
  title: Exam Lab API
  description: API for Exam Lab
  version: 0.1.0
servers:
- url: https://exam-lab.store/
- url: http://localhost:8080/
tags: []
paths:
  /api/v1/exams:
    get:
      tags:
      - exams
      summary: Get all exams
      description: Get all exams
      operationId: exams
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamList'
              examples:
                exams:
                  value: "{\"exams\":[{\"exam_title\":\"운전면허 - 1,2종\",\"exam_id\"\
                    :1},{\"exam_title\":\"수능 - 영어\",\"exam_id\":2}]}"
    post:
      tags:
      - exams
      summary: Add exams
      description: 회원만이 시험을 추가할 수 있습니다.응답 message로 생성된 시험지 ID를 반환합니다.
      operationId: add-exams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamAdd'
            examples:
              add-exams:
                value: "{\"exam_title\":\"소웨공\",\"tags\":{\"난이도\":[\"상\",\"중\",\"하\
                  \"],\"단원\":[\"1\",\"2\",\"3\"]}}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams1523854693'
              examples:
                add-exams:
                  value: "{\"code\":201,\"message\":\"5\"}"
  /api/v1/questions:
    put:
      tags:
      - question
      summary: Update question
      description: Question 내용 업데이트
      operationId: update-question
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-questions-420259584'
            examples:
              update-question:
                value: "{\"question\":\"변경된 질문입니다.\",\"options\":[\"변경된 보기1\",\"변경\
                  된 보기2\",\"변경된 보기3\",\"변경된 보기4\"],\"answers\":[1,3],\"id\":\"6842b9e6-92d9-4e5e-a01e-c17702df9ad2\"\
                  ,\"commentary\":\"변경된 설명입니다.\",\"tags\":{\"난이도\":[\"중\"],\"단원\"\
                  :[\"2\"]}}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                update-question:
                  value: "{\"code\":200,\"message\":\"OK\"}"
  /api/v1/users:
    post:
      tags:
      - users
      summary: Add user
      description: 사용자 추가성공할 경우 200 OK를 반환합니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: user add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-963924044'
            examples:
              user add:
                value: "{\"password\":\"f9022372-a2dd-4fef-943c-9dca3c23979c!\",\"\
                  password_confirm\":\"f9022372-a2dd-4fef-943c-9dca3c23979c!\",\"\
                  user_id\":\"f9022372-a2dd-4fef-943c-9dca3c23979c@gmail.com\",\"\
                  name\":\"f9022372-a2dd-4fef-943c-9dca3c23979c\"}"
      responses:
        "200":
          description: "200"
  /api/v1/exams/{examId}:
    get:
      tags:
      - exams
      summary: Get exam type
      description: Get exam type
      operationId: exam-typenon-exam-type
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamType'
              examples:
                exam-type:
                  value: "{\"exam_title\":\"운전면허 - 1,2종\",\"tags\":{\"category\":[\"\
                    상황\",\"표지\",\"화물\",\"법\"]}}"
        "400":
          description: "400"
    put:
      tags:
      - exams
      summary: patch exams
      description: 본인의 시험만 수정할 수 있습니다.시험 내용을 덮어쓰기 합니다.
      operationId: patch-exams
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
            examples:
              patch-exams:
                value: "{\"tags\":{\"난이도\":[\"상\",\"중\",\"하\",\"최하\"],\"단원\":[\"1\"\
                  ,\"2\",\"3\",\"4\",\"5\"]},\"exam_title\":\"소프트웨어공학\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                patch-exams:
                  value: "{\"code\":200,\"message\":\"OK\"}"
    delete:
      tags:
      - exams
      summary: delete exams
      description: 본인의 시험만 삭제할 수 있습니다
      operationId: delete-exams
      parameters:
      - name: examId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
  /api/v1/questions/{questionId}:
    delete:
      tags:
      - question
      summary: Delete questions by questionId
      description: 해당되는 문제 ID Question 삭제
      operationId: delete-questions-by-questionId
      parameters:
      - name: questionId
        in: path
        description: QuestionId
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                delete-questions-by-questionId:
                  value: "{\"code\":200,\"message\":\"OK\"}"
  /api/v1/users/login:
    post:
      tags:
      - users
      summary: Login
      description: 로그인성공할 경우 redirect 시킵니다실패할 경우 400 Bad Request를 반환합니다.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-users-login1770795545'
            examples:
              login:
                value: "{\"password\":\"lab111!\",\"user_id\":\"lab1@gmail.com\"}"
      responses:
        "200":
          description: "200"
  /api/v1/users/logout:
    post:
      tags:
      - users
      summary: Logout
      description: 로그아웃
      operationId: logout
      responses:
        "200":
          description: "200"
  /api/v1/users/status:
    get:
      tags:
      - users
      summary: Get user status
      description: 로그인 상태를 확인합니다.로그인 상태일 경우 200과 userName을 반환합니다로그인 상태가 아닌 경우 401
        Unauthorized를 반환합니다.
      operationId: user status
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-users-status615510992'
              examples:
                user status:
                  value: "{\"user_name\":\"lab1\",\"login\":true}"
  /api/v1/exams/{examId}/ai:
    post:
      tags:
      - exams
      summary: Get ai questions
      description: "## 조건 \n- 로그인 되어있어야합니다\n- 본인으 시험이여야합니다\n- 시험 자료 파일이 있어야합니다"
      operationId: ai-questions
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiQuestions'
              examples:
                ai-questions:
                  value: "{\"questions\":[{\"id\":\"db96d7ce-9bb1-4aaa-bbef-cc473cc20285\"\
                    ,\"type\":\"객관식\",\"question\":\"다음 중 총중량 1.5톤 피견인 승용자동차를 4.5톤\
                    \ 화물자동차로 견인하는 경우 필요한 운전면허에 해당하지 않은 \\n것은?\",\"question_images_in\"\
                    :[],\"question_images_out\":[],\"options\":[\"① 제1종 대형면허 및 소형견\
                    인차면허\",\"② 제1종 보통면허 및 대형견인차면허\",\"③ 제1종 보통면허 및 소형견인차면허\",\"④ 제\
                    2종 보통면허 및 대형견인차면허\"],\"answers\":[4],\"commentary\":\"도로교통법 시행\
                    규칙 별표18 총중량 750킬로그램을 초과하는 3톤 이하의 피견인 자동차를 견인하기 위해서는 견인\\n하는 자동\
                    차를 운전할 수 있는 면허와 소형견인차면허 또는 대형견인차면허를 가지고 있어야 한다.\",\"commentary_images_in\"\
                    :[],\"commentary_images_out\":[],\"tags\":{\"category\":[\"화물\"\
                    ]}},{\"id\":\"d9c5be8e-00aa-49df-b7ef-75db4ce51d74\",\"type\"\
                    :\"객관식\",\"question\":\"도로교통법령상 운전면허증 발급에 대한 설명으로 옳지 않은 것은?\"\
                    ,\"question_images_in\":[],\"question_images_out\":[],\"options\"\
                    :[\"① 운전면허시험 합격일로부터 30일 이내에 운전면허증을 발급받아야 한다.\",\"② 영문운전면허증을 발급\
                    받을 수 없다.\",\"③ 모바일운전면허증을 발급받을 수 있다.\",\"④ 운전면허증을 잃어버린 경우에는 재발급\
                    \ 받을 수 있다.\"],\"answers\":[2],\"commentary\":\"도로교통법시행규칙 제77조∼\
                    제81조\",\"commentary_images_in\":[],\"commentary_images_out\":[],\"\
                    tags\":{\"category\":[\"법\"]}},{\"id\":\"04ef1ba9-bd37-403e-95b3-2c2c65587e95\"\
                    ,\"type\":\"객관식\",\"question\":\"시·도경찰청장이 발급한 국제운전면허증의 유효기간은 발\
                    급받은 날부터 몇 년인가?\",\"question_images_in\":[],\"question_images_out\"\
                    :[],\"options\":[\"① 1년\",\"② 2년\",\"③ 3년\",\"④ 4년\"],\"answers\"\
                    :[1],\"commentary\":\"도로교통법 제96조에 따라 국제운전면허증의 유효기간은 발급받은 날부터 1년\
                    이다.\",\"commentary_images_in\":[],\"commentary_images_out\":[],\"\
                    tags\":{}},{\"id\":\"b7614a8d-cbed-41d2-bd17-600626f698ba\",\"\
                    type\":\"객관식\",\"question\":\"도로교통법상 승차정원 15인승의 긴급 승합자동차를 처음 운\
                    전하려고 할 때 필요한 조건으로 맞는 것은?\",\"question_images_in\":[],\"question_images_out\"\
                    :[],\"options\":[\"① 제1종 보통면허, 교통안전교육 3시간\",\"② 제1종 특수면허(대형견인차\
                    ), 교통안전교육 2시간\",\"③ 제1종 특수면허(구난차), 교통안전교육 2시간\",\"④ 제2종 보통면허,\
                    \ 교통안전교육 3시간\"],\"answers\":[1],\"commentary\":\"도로교통법 시행규칙 별표\
                    18 승차정원 15인승의 승합자동차는 1종 대형면허 또는 1종 보통면허가 필요하고 긴급자\\n동차 업무에 종사하\
                    는 사람은 도로교통법 시행령 제38조의2 제2항에 따른 신규(3시간) 및 정기교통안전교육(2시간)\\n을 받아야\
                    \ 한다.\",\"commentary_images_in\":[],\"commentary_images_out\"\
                    :[],\"tags\":{}},{\"id\":\"b3b559ce-58b7-4167-b606-35ae9e5a6846\"\
                    ,\"type\":\"객관식\",\"question\":\"도로교통법상 연습운전면허의 유효 기간은?\",\"question_images_in\"\
                    :[],\"question_images_out\":[],\"options\":[\"① 받은 날부터 6개월\",\"\
                    ② 받은 날부터 1년\",\"③ 받은 날부터 2년\",\"④ 받은 날부터 3년\"],\"answers\":[2],\"\
                    commentary\":\"도로교통법 제81조에 따라 연습운전면허는 그 면허를 받은 날부터 1년 동안 효력을 가\
                    진다.\",\"commentary_images_in\":[],\"commentary_images_out\":[],\"\
                    tags\":{}}],\"size\":5}"
  /api/v1/exams/{examId}/file:
    get:
      tags:
      - exams
      summary: Get exam file
      description: "## Get exam file \n## 조건 \n- 본인의 시험만 파일 조회 가능합니다.\n- 파일이 없을 경우\
        \ 파일 존재 여부를 false로 반환합니다."
      operationId: exam-file
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamFile'
              examples:
                exam-file:
                  value: "{\"code\":200,\"message\":{\"file_title\":\"강의자료.txt\",\"\
                    exist\":true}}"
    post:
      tags:
      - exams
      summary: Add file
      description: "## 강의자료 추가  Form-data로 파일을 전송합니다.\n### 조건 \n- 본인의 시험만 파일 추가 가능\
        합니다.\n- 파일이 이미 존재하면 안됩니다."
      operationId: post-file
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                post-file:
                  value: "{\"code\":200,\"message\":\"OK\"}"
    delete:
      tags:
      - exams
      summary: Delete exam file
      description: |-
        ## Delete exam file
        조건 : 본인의 시험만 파일 삭제 가능합니다
      operationId: delete-exam-file
      parameters:
      - name: examId
        in: path
        description: Exam id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                delete-exam-file:
                  value: "{\"code\":200,\"message\":\"OK\"}"
  /api/v1/exams/{examId}/questions:
    get:
      tags:
      - question
      summary: Search questions
      description: Exam ID를 통한 Questions 조회
      operationId: Search-questions
      parameters:
      - name: examId
        in: path
        description: ExamId
        required: true
        schema:
          type: integer
          format: int32
      - name: tags_단원
        in: query
        description: 문제의 태그 - 단원
        required: false
        schema:
          type: string
      - name: tags_난이도
        in: query
        description: 문제의 태그 - 난이도
        required: false
        schema:
          type: string
      - name: includes
        in: query
        description: 문제에 포함된 키워드
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: 검색된 문제의 개수
        required: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-questions-1876066633'
              examples:
                Search-questions:
                  value: "{\"questions\":[{\"id\":\"993559ec-c17d-40af-bad9-27d9ccb9439b\"\
                    ,\"type\":\"객관식\",\"question\":\"소웨공 테스트 문제?\",\"question_images_in\"\
                    :[],\"question_images_out\":[],\"options\":[\"① 답 예시 1\",\"② 답\
                    \ 예시 2\",\"③ 답 예시 3\",\"④ 답 예시 4\"],\"answers\":[3],\"commentary\"\
                    :\"30이 가장 큰 수입니다.\",\"commentary_images_in\":[],\"commentary_images_out\"\
                    :[],\"tags\":{\"단원\":[\"1\"],\"난이도\":[\"하\"]}}],\"size\":1}"
    post:
      tags:
      - question
      summary: Add question
      description: 문제 추가
      operationId: add-questions
      parameters:
      - name: examId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: |-
          questionUploadInfo-ContentType: application/jsonquestionImagesIn-ContentType:image.png
          questionImagesOut-ContentType:image.png
          commentaryImagesOut-ContentType:image.png
          commentaryImagesOut-ContentType:image.png
          multipart/form-data
        required: true
        schema:
          type: string
        example: multipart/form-data
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-exams-examId-file486549215'
              examples:
                add-questions:
                  value: "{\"code\":201,\"message\":{\"id\":\"f308e29a-a2ef-4b5e-a3c4-18f640737219\"\
                    ,\"type\":\"객관식\",\"question\":\"다음 중 총중량 1.5톤 피견인 승용자동차를 4.5톤\
                    \ 화물자동차로 견인하는 경우 필요한 운전면허에 해당하지 않은 것은?\",\"question_images_in\"\
                    :[{\"url\":\"https://examlab-image.s3.ap-northeast-2.amazonaws.com/test_images/image1.png\"\
                    ,\"description\":\"설명1\",\"attribute\":\"속성1\"}],\"question_images_out\"\
                    :[{\"url\":\"https://examlab-image.s3.ap-northeast-2.amazonaws.com/test_images/image2.png\"\
                    ,\"description\":\"설명2\",\"attribute\":\"속성2\"}],\"options\":[\"\
                    ① 제1종 대형면허 및 소형견인차면허\",\"② 제1종 보통면허 및 대형견인차면허\",\"③ 제1종 보통면허 및\
                    \ 소형견인차면허\",\"④ 제2종 보통면허 및 대형견인차면허\"],\"answers\":[4],\"commentary\"\
                    :\"도로교통법 시행규칙 별표18 총중량 750킬로그램을 초과하는 3톤 이하의 피견인 자동차를 견인하기 위해서는\
                    \ 견인 하는 자동차를 운전할 수 있는 면허와 소형견인차면허 또는 대형견인차면허를 가지고 있어야 한다.\",\"\
                    commentary_images_in\":[{\"url\":\"https://examlab-image.s3.ap-northeast-2.amazonaws.com/test_images/image3.png\"\
                    ,\"description\":\"설명3\",\"attribute\":\"속성3\"}],\"commentary_images_out\"\
                    :[{\"url\":\"https://examlab-image.s3.ap-northeast-2.amazonaws.com/test_images/image4.png\"\
                    ,\"description\":\"설명4\",\"attribute\":\"속성4\"}],\"tags\":{}}}"
components:
  schemas:
    api-v1-exams1523854693:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: number
          description: 응답 코드
        message:
          type: string
          description: 생성된 시험지 ID
    api-v1-questions-420259584:
      required:
      - answers
      - commentary
      - id
      - options
      - question
      - tags
      type: object
      properties:
        question:
          type: string
          description: 변경될 질문 내용
        answers:
          type: array
          description: 변경될 정답
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        options:
          type: array
          description: 변경될 보기 내용
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        id:
          type: string
          description: 문제 ID
        commentary:
          type: string
          description: 변경될 해설
        tags:
          type: object
          properties:
            '*':
              type: array
              description: 변경될 문제 태그 value
              nullable: true
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
          description: 변경될 문제 태그
    ExamType:
      title: ExamType
      type: object
    ExamList:
      title: ExamList
      required:
      - exams
      type: object
      properties:
        exams:
          type: array
          description: Exam
          items:
            required:
            - exam_id
            - exam_title
            type: object
            properties:
              exam_id:
                type: number
                description: Exam id
              exam_title:
                type: string
                description: Exam title
    api-v1-users-login1770795545:
      required:
      - password
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        user_id:
          type: string
          description: User id
    ExamFile:
      title: ExamFile
      required:
      - code
      type: object
      properties:
        code:
          type: number
          description: 응답 코드
        message:
          required:
          - exist
          - file_title
          type: object
          properties:
            exist:
              type: boolean
              description: 파일 존재 여부
            file_title:
              type: string
              description: File title
    api-v1-exams-examId-questions-1876066633:
      required:
      - questions
      - size
      type: object
      properties:
        size:
          type: number
          description: 문제의 개수
        questions:
          type: array
          description: 문제 목록
          items:
            required:
            - answers
            - commentary
            - commentary_images_in
            - commentary_images_out
            - id
            - options
            - question
            - question_images_in
            - question_images_out
            - tags
            - type
            type: object
            properties:
              question:
                type: string
                description: 문제 내용
              question_images_out:
                type: array
                description: 문제 정답 이미지 목록
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: 이미지 설명
                      nullable: true
                    attribute:
                      type: string
                      description: 이미지 속성
                      nullable: true
                    url:
                      type: string
                      description: 이미지 URL
                      nullable: true
              question_images_in:
                type: array
                description: 문제 설명 이미지 목록
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: 이미지 설명
                      nullable: true
                    attribute:
                      type: string
                      description: 이미지 속성
                      nullable: true
                    url:
                      type: string
                      description: 이미지 URL
                      nullable: true
              answers:
                type: array
                description: 정답 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              options:
                type: array
                description: 보기 목록
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              id:
                type: string
                description: 문제의 고유 식별자
              type:
                type: string
                description: 문제의 유형
              commentary_images_in:
                type: array
                description: 해설 설명 이미지 목록
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: 이미지 설명
                      nullable: true
                    attribute:
                      type: string
                      description: 이미지 속성
                      nullable: true
                    url:
                      type: string
                      description: 이미지 URL
                      nullable: true
              commentary_images_out:
                type: array
                description: 해설 이미지 목록
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: 이미지 설명
                      nullable: true
                    attribute:
                      type: string
                      description: 이미지 속성
                      nullable: true
                    url:
                      type: string
                      description: 이미지 URL
                      nullable: true
              commentary:
                type: string
                description: 문제 해설
              tags:
                type: object
                properties:
                  '*':
                    type: array
                    description: 문제의 카테고리 태그 정보
                    nullable: true
                    items:
                      oneOf:
                      - type: object
                      - type: boolean
                      - type: string
                      - type: number
                description: 문제의 태그 맵 정보
    AiQuestions:
      title: AiQuestions
      type: object
    ExamAdd:
      title: ExamAdd
      required:
      - exam_title
      - tags
      type: object
      properties:
        tags:
          type: object
          description: tag 정보들
        exam_title:
          type: string
          description: 시험지 이름
    api-v1-users-status615510992:
      required:
      - login
      - user_name
      type: object
      properties:
        user_name:
          type: string
          description: 사용자 이름
        login:
          type: boolean
          description: 로그인 여부
    api-v1-users-963924044:
      required:
      - name
      - password
      - password_confirm
      - user_id
      type: object
      properties:
        password:
          type: string
          description: Password
        password_confirm:
          type: string
          description: Password confirm
        user_id:
          type: string
          description: User id
        name:
          type: string
          description: User name
    api-v1-exams-examId-file486549215:
      type: object
