.editor-edit .server-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.editor-edit .server-button button {
  background-color: transparent;
  padding: 0;
  border-style: none;
  margin-left: 10px;
  margin-right: 45px;
}

/* 마지막 버튼 스타일 */
.editor-edit .server-button button:last-child {
  margin-right: 0;
}

/* .editor-edit {
 background-color: #F9F9FA;
} */

.editor-edit .editorMode{
  background-color: #F9F9FA;
  margin-bottom: 7px;
  padding: 10px;
} 
.editor{
  margin-bottom: 15px;
}