.editor-edit .server-button {
  display: flex;
  justify-content: flex-end;
}

.editor-edit .server-button button {
  background-color: transparent;
  padding: 0;
  border-style: none;
  margin-left: 10px;
}