body {
    background-color: #F9F9F9; /* 페이지 내 전체 화면 색상지정*/
}


.navigation-bar {
    position: fixed;
    top: 0;
    left: -200px; /* 초기에 왼쪽으로 숨겨진 상태 */
    width: 200px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    display: flex; /* 수직으로 배치하기 위해 flexbox를 사용 */
    flex-direction: column; /* 아이템을 수직으로 배치 */
    justify-content: flex-start; /* 아이템을 컨테이너의 시작 부분에 배치 */
}

.navigation-bar nav {
    text-align: center; /* 버튼을 중앙 정렬 */
}

.navigation-bar.visible {
    left: 0; /* 버튼 클릭시 왼쪽으로 나타남 */
}

.navigation-bar.hidden {
    width: 0; /* 숨겨진 상태일 때 너비를 0으로 설정하여 완전히 숨김 */
}

.navigation-bar.hidden .login-button,
.navigation-bar.hidden .signup-button {
    display: none; /* 숨기기 */
}

.close-button {
    position: absolute;
    top: 20px;
    left: 180px;
}

.navigation-content {
    padding-top: 50px; /* 네비게이션 콘텐츠의 상단 패딩을 조정 */
    margin-bottom: 300px;
    display: flex; /* 하이퍼링크를 수직으로 배치하기 위해 추가 */
    flex-direction: column; /* 하이퍼링크를 수직으로 배치 */

}



.login-button{
    background-color: #29B8B5;
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 50px;
}

.signup-button {
    background-color: #EBF0F6;
    display: inline-block;
    color: #A2ACB9;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    
}


.login-button:hover,
.signup-button:hover {
    background-color: #238C8A;
}