

.question-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.options-list {
    padding: 0;
}

.option-item {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
